.main {
    margin-left: 10%;
    margin-top: 5%;
}

.loginPageContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.loginLetter {
    font-weight: bold;
    margin-right: 50px;
}

.loginPageBox {
    display: flex;
    flex-direction: column;
}

.loginExplanation1 {
    margin-bottom: 1px;
}

.loginExplanation2 {
    margin-top: 1px;
}

/* login form */
.loginContainer {
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    position: relative;
}

.loginForm {
    margin-right: 20%; 
}

.formGroup {
    display: flex;
    flex-direction: column; 
    margin-bottom: 25px;
}

input {
    width: 310px;
    height: 49px;
}

.formBtn {
    position: absolute;
    bottom: -20%;
    left: 40%;
}

.btn {
    width: 114px;
    height: 40px;
    background-color: #528CF8;
    border-radius: 1.2rem;
    transition: all 0.8s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.registerTxt {
    font-weight: bold;
}

.notRegisterd {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin-left: 5px;
}


.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.jGoalBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    background-color: #FFF2CC;
    width: 150px;
    height: 80px;
    box-shadow: 3px 3px 20px -10px;
    border-radius: 5px;
    margin-right: 30px;
}

.explanationBox {
    width: 40%;
}

.explaneJGoal {
    font-weight: bold;
}

.explaneJGoal1 {
    font-weight: bold;
    margin-bottom: 1px;
}

.explaneJGoal2 {
    font-weight: bold;
    margin-top: 1px;
}